<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>CFBundleDisplayName</key>
	<string>Atomex</string>
	<key>CFBundleIdentifier</key>
	<string>com.atomex.ios</string>
	<key>CFBundleVersion</key>
	<string>1.12.1</string>
	<key>UILaunchStoryboardName</key>
	<string>AtomexLaunchScreen</string>
	<key>CFBundleName</key>
	<string>atomex</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Atomex needs access to the photo gallery for picking photos and videos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Atomex needs access to photos gallery for picking photos and videos</string>
	<key>NSCameraUsageDescription</key>
	<string>Atomex needs access to the camera</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Authenticate with Face ID</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Comfortaa-Regular.ttf</string>
		<string>Agency-FB.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>CFBundleShortVersionString</key>
	<string>1.12</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>fr</string>
		<string>ru</string>
		<string>tr</string>
	</array>
</dict>
</plist>
